body {
  display: flex;
  justify-content: center;

  background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/2/2b/MOD_Pizza_logo.svg/1200px-MOD_Pizza_logo.svg.png);
  background-repeat: no-repeat;

  font-size: 30px;
}
.navbar {
  font-size: 40px;
  padding: 2%;
}

.a {
  text-decoration: none;
}
